name: Daily Insurance News Feed

on:
  schedule:
    # 한국 시간(KST) 오전 8시는 UTC 기준 전날 23:00입니다.
    - cron: '0 23 * * *'
  workflow_dispatch: # 수동 실행 버튼 추가

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: pubs/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run script
        run: python main.py

      - name: Commit and Push Report
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add daily_news_report.txt
          git commit -m "Update News Feed $(date +'%Y-%m-%d')" || exit 0
          git push
